@model FarmaciaApp_V2.Models.Medicamento

<h2>Detalhes do Medicamento</h2>

<table class="table">
    <tr>
        <th>Número de Registro ANVISA</th>
        <td>@Model.NumeroRegistroAnvisa</td>
    </tr>
    <tr>
        <th>Nome</th>
        <td>@Model.Nome</td>
    </tr>
    <tr>
        <th>Data de Validade</th>
        <td>@Model.DataValidade.ToShortDateString()</td>
    </tr>
    <tr>
        <th>Telefone SAC</th>
        <td>@Model.TelefoneSAC</td>
    </tr>
    <tr>
        <th>Preço (R$)</th>
        <td>@Model.PrecoReais.ToString("N2")</td>
    </tr>
    <tr>
        <th>Quantidade de Comprimidos</th>
        <td>@Model.QuantidadeComprimidos</td>
    </tr>
    <tr>
        <th>Fabricante</th>
        <td>@Model.Fabricante.Nome</td>
    </tr>
</table>

<h3>Reações Adversas</h3>
<ul>
    @foreach (var relacao in Model.MedicamentoReacoesAdversas)
    {
        <li>@relacao.ReacaoAdversa.Descricao</li>
    }
</ul>

<p>
    <a asp-action="Index" class="btn btn-secondary">Voltar para a lista</a>
</p>
